
:root {
    --cor-fundo:#F5F5F5;
    --cor-fonte:#212121;
    --cor-titulo: #A35C7A;
    --cor-botoes:#C890A7;
    --cor-hover:#E8BCB9;
}

*{
    margin: 0;
    padding: 0;   
}
body{
    box-sizing: border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-fonte);
}
.cabecalho{
    padding: 0% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 40px;
}
.cabecalho__menu__link{
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-titulo);
    align-items: center;
}
    
    
.apresentacao{
    padding: 2% 2% 5% 15%;
    gap: 82px;
    display: flex;

    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo__titulo{
    width: 50%;
    font-weight:800;
  gap: 40px;
    font-size: 2rem;
    color: var(--cor-titulo);
    display: flex;
    flex-direction: column;
    padding: 2% 2% 2% 0%;
}
.apresentacao__conteudo__texto{
    width: 60%;
    font-weight:400;
    font-size: 1.3rem;
   display: flex;
   flex-direction: column;
   gap: 40px;
   padding: 2% 2% 2% 0%;

}
.apresentacao__conteudo__certificados{
   
    text-decoration: none;
    color:var(--cor-botoes);
    border: 2px solid var(--cor-botoes);
width: 80%;
border-radius: 3px;
font-size: 1.1rem;
font-weight: 20;
padding: 2px ;
   
}
.apresentacao__conteudo__certificados:hover {
background-color:var(--cor-hover);
}
.apresentacao__redes{
    width:50%;
    font-weight:800;
    font-size: 2rem;
    color: var(--cor-titulo);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 2% 2% 2% 0%;

}

.apresentacao__redes__links{

   
    text-decoration: none;
    color: var(--cor-botoes);
    border: 2px solid var(--cor-botoes);
    width: 50%;
    text-align: center;
    border-radius: 3px;
    font-size: 2rem;
    font-weight: 600;
    padding: 2px ;
    flex-direction: column;
    display: block;
}
.apresentacao__redes__links:hover {
    background-color: var(--cor-hover);
}



.rodape{

    padding: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    align-items: center;
    flex-direction: column;
    display: flex;
    color: var(--cor-titulo);
    background-color:var(--cor-fundo);
}

    @media(max-width:1200px) {
        .cabecalho{
            padding: 5%;
        }
        .cabecalho__menu__link{
            justify-content: center;
        }

      
        .apresentacao{
            flex-direction: column-reverse;
            padding: 5%;
        }
        .apresentacao__conteudo__texto{
            width: auto;
        
        }
        .apresentacao__conteudo__titulo{
            width: auto;
        }
        .apresentacao__experiencia__titulo{
            width: auto;
        }
    }